
*{
  box-sizing: border-box;
}



 
.container{
  font-family: Inter,system-ui,sans-serif;;
 
}
 
img#icon {
  background-color: black;
  border: 2px solid #29bdd0;
  border-radius: 14px;
}

.intro-container{
  text-align: center;
  justify-content: center;
  line-height: 2;
}

a.button{
  background-color: #ec6c24;
   text-decoration: none;
   color: black;
   padding: 12px 60px;
   border: 2px solid rgb(236, 213, 213);
   border-radius: 10px;
}

a:hover{
  background-color: #fab086;
  color: #ec6c24;
  cursor: pointer;
}

p.anymons {
  font-size: 14px;
}

.video-container{
  display: block;
  background-color: blue;
  margin-top: 15em;
  
}

.video-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -10em;
  border-radius: 10px;
 
}

video#clip {
  border-radius: 32px;
}

.description {
  display: flex;
  justify-content: center;
}

article {
  padding: 10px;
  margin: 10px;
  text-align: justify;
  font-size: 20px;
  display: flex;
  max-width:30%;
  justify-content: space-between;
  line-height: 2;
}

p#titel-1{
  font-size: 42px;
  text-align: center;
}

.description-2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  line-height: 2;

}

video#reactclip {
  border-radius: 19px;
}


.books\.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 20px;
  max-width: 30%;
  line-height: 2;
}

h2#what{
  font-size: 35px;
}

.list\.col-3 {
  font-size: 18px;
}


.description-3 {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  justify-content: center;
  font-size: 25px;
  line-height: 2;
}

img#img-2{
  display: none;
}

.disc-1{
  display: none;
}

.list-3{display: flex;
  max-width: 50%;
  flex-direction: column;
  line-height: 3;
}

.details{
text-align: justify;
  max-width: 30%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}


div.marker.li {
  list-style-type: none;
}


.description-4 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


.flashcard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  margin-left: 100px;
  
}

.desciption-5 {
  margin-top: 64px;
}


.mat-1{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
  font-size: 20px;
}

.mat-2{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
  font-size: 20px;
  
}


img#human {
  border: 2px solid tomato;
  float: left;
  margin: 0px 12px;
}


h2.what {
  text-align: center;
  font-size: 45px;
}

.mini-container-1{
  max-width: 30%;
  
  padding: 10px;
  border: 2px solid orange;

}


.description-6{
  margin-top:50px ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}


.jouburn{
  border: 2px solid tomato;
  border-radius: 200px;
}
 
.kk{
  text-align: justify;
  max-width: 27%;
  line-height: 2;
  font-size: 20px;
  padding: 20px;
}
  


.owner {
  display: flex;
  flex-direction: column;
  justify-content: center}



  .list-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    line-height: 2;
    font-size: 20px;
  }

    h1.course {
      text-align: center;
  }

  li#v {
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;}

    ul#notes {
      border: 2px solid tomato;
      padding: 50px;
  }


  .description-8 {
    background-color: blue;
    margin-top: 50px;
    color:black;
  
  
}

.last{
  display: flex;
  flex-direction: column;
    align-items: center;
    font-size: 40px;
    

}

.easy {
  text-align: center;
  letter-spacing: 5px;
  line-height: 1;
}

 blockquote {
  font-size: 20px;
  position: relative;
  top: -35px;
  left: -30px;
} 


b#learn{
  color: blue;
  background-color: black;
}

a.button-2{
  background-color: #ec6c24;
  text-decoration: none;
  color:black;
  border: 2px solid rgb(231, 222, 222);
  border-radius: 10px;
  font-size: 16px;
  position: relative;
  top: -50px;
  left: -34px;
  padding: 12px 60px;
}

a#button-2:hover{
 background-color:#f7b28a ; 
 color: #ec6c24;
cursor: pointer;
}


mark#cards {
  background-color: blue;
}


/* hr{
  display: none;
} */



































@media only screen and (max-width: 900px) {
    

  

  .description{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  article{
    display: block;
    text-align: justify;
    margin: 0px auto;
    max-width: 100%;
    padding: 20px;
    font-size: 18px;
    
  }
   
  video#clip {
    width: 100%;
    height: auto;
}

  .description-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    column-gap: 11px;
  }

  .books\.col-3{
    display: block;
    max-width: 100%;
    padding: 20px;
    margin: 0px auto;
    line-height: 26px;
}

h2#what {
  text-align: justify;
  font-size: 32px;
  line-height: 26px;
}

  p#\35{
    text-align: justify;
    font-size: 18px;
  }

  
  .description-3{
     display: flex;
     flex-direction: column;
     padding: 20px;
     
  }

  .list-3{
    order: 1;
    padding: 10px;
    max-width: 100%;
    font-size: 18px;
    
  }

  h2.heading-2 {
    font-size: 36px;
    line-height: 33px;
}

p.para-2 {
  font-size: 18px;
  
}

  /* hr{
    display: block;
  } */

  .details{
    display: block;
    text-align: justify;
    max-width: 100%;
    padding: 20px;
  }
   
  .description-4{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    row-gap: 50px;
    margin: 0px;
   
  }

  .video-2{
    order: 1;
display: flex;
flex-direction: column-reverse;
align-items: center;
    
    }

 

    .flashcard{
      display: flex;
      height: 50%;
      margin: 0px;
      padding: 10px;

    }
    p.is {
      line-height: 27px;
      font-size: 18px;
  }

    .desciption-5{
      display: flex;
      flex-direction: column;
      padding: 20px;
      
    }
    
    .mat-1{
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      flex-wrap: wrap; 
    }
    
    .mini-container-1{
      max-width: 100%;
    }
    .mat-2{
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      flex-wrap: wrap;
    }

    .description-6{
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      flex-wrap: wrap;
      padding: 20px;
      
     
    }
    .kk{
      display: block;
      max-width: 100%;
      flex-wrap: wrap;
    }
    h1#about{
      text-align: center;
      order: -1;
    }

    .owner{
      display: flex;
      flex-direction: column;
    align-items: center;
    }

    .list-5{
      display: flex;
      flex-direction: column;

    }
    
    .list-5,notes.li{
      
      align-items: center;

    }
    .description-7{
      letter-spacing: 2px;
    }
}  

@media only screen and (min-width: 900px) {
 
 
 }
}