html, body {
    height: 100%;
    width: 100%;
  }
  
  *{
    box-sizing: border-box;
    
  }
 
  .important{
    
  }

  /* <.main-container-1> */

  .main-container {
    margin-top: 45px;
}

  .sub-container\.col-4 {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

 
 a.button {
    background-color: rgb(241, 140, 24);
    display: inline-block;
    text-decoration: none;
    color: black;
    justify-content: center;
    padding: 11px 49px;
    font-size:16px;
    
} 

.row{
  /* background-color: brown; */
  display: flex;
}

.col-6{
  background-color: aliceblue;
}

                                   /* main-container-2 */



.main-container-2 {
  margin-top: 286px;
 background-color: rgb(71, 150, 202);
 position: relative;
}




.video-1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: -250px;
}


.sub-container-2\.row {
  display: flex;
  position: relative;
  left: 50px;
  top: -99px;
  font-family: 'Inter', sans-serif;
}

.sub-1\.col-3 {
  font-size: 40px;
}


.sub-2\.col-3 {
  font-size: 25px;
  width: 30%;
}
                  /* .main-container-3 */



.main-container-3 {
  
  margin-top: 60px;
                    }


.library\.row {
  display: flex;
  line-height: 2;

}

.books\.col-3 {
  font-family: 'Inter', sans-serif;
  text-align: justify;
  display: block;
  /* width: 20%; */
  position: relative;
  bottom: -350px;
}

.list\.col-3 {
  font-size: 20px;
}

.list-2\.col-3 {
  font-size: 20px;
}

h2#what {
  font-size: 40px;
}

p#\35 {
  font-size: 20px;
}
ul.courses {
  font-family: 'Inter', sans-serif;
  position: relative;
  left: 32px;
}

ul.courses-2
 {
  font-family: 'Inter', sans-serif;
  position: relative;
  left: 32px;
}

                                    /* .main-container-4 */


   .main-container-4 {

     background-color: black;
      margin-top: 50px;
    }                                    


.sub-container-4\.row {
  font-family: 'Inter', sans-serif;
  display: flex;
  color: white;
}

.disc-1{
  display: none;
}

.image-1 {
  display: none;
}

.real\.col-3 {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  width: 30%;
  position: relative;
    top:125px;
 
}

ul.list-2\.col-3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 3;
}


.heading-2{
  font-family: 'Inter', sans-serif;
  font-size:35px;
}
                                                         /* .main-container-5*/

.main-container-5{
  background-color: antiquewhite;
  margin-top: 50px;
}

video{
  border: 2px solid black;
  border-radius: 20px;
}

.sub-container-5\.row {
  font-family: 'Inter', sans-serif;
  display: flex;
position: relative;


  margin: 0px auto;

}

mark {
  background-color: rgb(32, 126, 189);
  color: black

}

.sub-titel-1{
  font-size: 35px;
}


.description-3\.col-6 {
  flex-wrap: wrap;
  text-align: justify;
  position: absolute;
  font-size: 25px;
  left: 276px;
}
                          

                                                         /* .main-container-6*/


.main-container-6 {
  margin-top: 60px;
}

.sub-container-6\.row {
  font-family: 'Inter', sans-serif;
  display: flex;
  margin-top: 100px;
  margin: 53px auto;
}


heading.what {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.mini-container-1\.col-3 {
  border: 2px solid antiquewhite;
  padding: 37px;
  font-size: 25px;
  margin-right: 54px;
}
.sub-container-6\.row {
  display: flex;
  margin-top: 100px;
  margin: 53px auto;
}


.sub-container-06\.row {
  display: flex;
  margin: 25px auto;
}


.mini-container-01\.col-3 {
  border: 2px solid antiquewhite;
  padding: 37px;
  font-size: 25px;
  margin-right: 54px;
}


img#human {

  border-radius: 46px;
}


b#nikov {
  position: relative;
  top: -44px;
  left: 28px;
}
                                        /* .main-container-7*/

.main-container-7{
  margin-top: 100px;
  
}                                       

 .sub-container-7\.row {
  font-family: 'Inter', sans-serif;
    display: flex;
    margin: 0px auto;
    
   }



   .kk {
    font-family: 'Inter', sans-serif;
    padding-left: 61px;
    font-size: 20px;
}

h2#about {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
}

img.jouburn {
  position: relative;
  top: 10px;
  border-radius: 214px;
}
                                          /* .main-container-8*/

.main-container-8 {
    margin-top: 62px;

    }

.sub-container-8\.row {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
   /* padding: 115px; */
  margin: 0px 166px;
}

 .notes\.col-4 {
   font-size: 16px;
   padding-right: 50px;
  line-height: 2;
  border: 2px solid gray;
  margin: 22px;
} 


li#v {
  font-family: 'Inter', sans-serif;
  list-style-type: none;
  /* display: flex; */
  margin-bottom: 13px;
  text-align: center;
  font-size: 25px;
}

.course{
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 35px;
}

                              /* .main-container-9*/

.main-container-9\. {
  font-family: 'Inter', sans-serif;
  background-color: rgb(32, 133, 192);
  margin-top: 59px;
}


.sub-container-9\.row {
  font-family: 'Inter', sans-serif;
  display: flex;
  text-align: center;}

  .col-12 {
    margin: 0px;
    font-size: 35px;
}

b#learn {
  background-color: black;
  color: blue;
}

anoymous {
  position: relative;
  font-size: 20px;
  top: -21px;
}




a#button-2{
  background-color: rgb(241, 140, 24);
  display: inline-block;
  text-decoration: none;
  color: black;
  justify-content: center;
  padding: 11px 49px;
  font-size:20px;
  margin-bottom: 29px;

}

                                              /* .main-container-10*/

.main-container-10{
  margin-top: 50px;
}


.sub-contaaainer-10\.row {
  font-family: 'Inter', sans-serif;
  display:flex;
  margin-top: 37px;
}

.java\.col-12 {
  display: flex;
  /* align-content: center; */
  flex-direction: row;
  margin:0px auto;
  padding-left: 101px;
}

  .html\.col-12 {
    display: flex;
    /* align-content: center; */
    flex-direction: row;
    margin:0px auto;
    padding-left: 101px;
  }



    .css\.col-12 {
      padding-left: 101px;
      display: flex;
      /* align-content: center; */
      flex-direction: row;
      margin:0px auto}



      img#java {
        width: 150px;
        height: auto;
        position: relative;
        left: -97px;
    }

    p#info-1 {
      font-size: 39px;
  }

  a#script{
    color: black;
  }




  [class*="col-"] {
                    float:right;
                    justify-content: center;
                    
                  }
   
  
      .row::after {
                     clear: both;
                     display: table;
                  }
  
  
     /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

